{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" conte
    nt="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'advisory/print.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advisory/main.css' %}">
    
</head>
<body>
    <!-- HEADER FILTERS -->
    <header class="no-print">
        <h1>Report Cards for Advisory: {{ advisory.section }}</h1>
        <!-- <label>
            <input type="checkbox" id="toggleSchoolText"> Show School Text
        </label> -->
        <label for="pageSelection">Select Page:</label>
        <select id="pageSelection">
            <option value="front">Front Page</option>
            <option value="back">Back Page</option>
        </select>
        <input type="checkbox" id="showFirstSem"> Show First Sem Info
        <input type="checkbox" id="showSecondSem"> Show Second Sem Info
        <input type="checkbox" id="showFirstQ"> Show First Quarter
        <input type="checkbox" id="showSecondQ"> Show Second Quarter
        <input type="checkbox" id="showThirdQ"> Show Third Quarter
        <input type="checkbox" id="showFourthQ"> Show Fourth Quarter
        <input type="checkbox" id="removeContentCheckbox"> Show Additional Content
        <input type="checkbox" id="removeBorderCheckbox"> Remove Table Border
        <button onclick="printReportCard()">Print Report Card</button>
        <script>
            function printReportCard() {
                window.print();
            }
            document.getElementById('removeContentCheckbox').addEventListener('change', function () {
                const additionalContent = document.querySelectorAll('.report-card .additional-content');
                additionalContent.forEach(content => {
                content.style.visibility = removeContentCheckbox.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('removeBorderCheckbox').addEventListener('change', function () {
                const thElements = document.querySelectorAll('.first-sem-attendance th');
                const tdElements = document.querySelectorAll('.first-sem-attendance td');
                const tdElements_ = document.querySelectorAll('.firstsem-grade td, .firstsem-grade th');
                const tdElements__ = document.querySelectorAll('.core-values td, .core-values th');
                tdElements.forEach(td => {
                    td.style.border = removeBorderCheckbox.checked ? '1px solid white' : '1px solid black';
                    td.style.background = removeBorderCheckbox.checked ? 'none' : 'none';
                });
                tdElements_.forEach(td => {
                    td.style.border = removeBorderCheckbox.checked ? '1px solid white' : '1px solid black';
                    td.style.background = removeBorderCheckbox.checked ? 'none' : 'none';
                });
                tdElements__.forEach(td => {
                    td.style.border = removeBorderCheckbox.checked ? '1px solid white' : '1px solid black';
                    td.style.background = removeBorderCheckbox.checked ? 'none' : 'none';
                });
                thElements.forEach(th => {
                    th.style.border = removeBorderCheckbox.checked ? '1px solid white' : '1px solid black';
                    th.style.background = removeBorderCheckbox.checked ? 'none' : '#EEECE1';
                });
                
            });
            
            document.getElementById('showFirstSem').addEventListener('change', function () {
                const firstsemElements = document.querySelectorAll('.firstsem-info');
                firstsemElements.forEach(content => {
                content.style.visibility = showFirstSem.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('showSecondSem').addEventListener('change', function () {
                const secondsemElements = document.querySelectorAll('.secondsem-info');
                secondsemElements.forEach(content => {
                content.style.visibility = showSecondSem.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('showFirstQ').addEventListener('change', function () {
                const firstsemElements = document.querySelectorAll('.firstQ-info');
                firstsemElements.forEach(content => {
                content.style.visibility = showFirstQ.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('showSecondQ').addEventListener('change', function () {
                const secondsemElements = document.querySelectorAll('.secondQ-info');
                secondsemElements.forEach(content => {
                content.style.visibility = showSecondQ.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('showThirdQ').addEventListener('change', function () {
                const firstsemElements = document.querySelectorAll('.thirdQ-info');
                firstsemElements.forEach(content => {
                content.style.visibility = showThirdQ.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('showFourthQ').addEventListener('change', function () {
                const secondsemElements = document.querySelectorAll('.fourthQ-info');
                secondsemElements.forEach(content => {
                content.style.visibility = showFourthQ.checked ? 'visible' : 'hidden';
                });
            });
            document.getElementById('pageSelection').addEventListener('change', function () {
                const pageSelection = this.value;
                const frontPageElements = document.querySelectorAll('.front-page');
                const backPageElements = document.querySelectorAll('.back-page');

                
                frontPageElements.forEach(content => {
                    content.style.display = pageSelection === 'front' ? 'block' : 'none';
                }); 

                backPageElements.forEach(content => {
                    content.style.display = pageSelection === 'back' ? 'block' : 'none';
                });
            });
            document.getElementById('toggleSchoolText').addEventListener('change', function () {
                var schoolTextElements = document.querySelectorAll('.school-text p');
                for (var i = 0; i < schoolTextElements.length; i++) {
                    schoolTextElements[i].style.visibility = this.checked ? 'visible' : 'hidden';
                }
            });
            
            document.getElementById('removeContentCheckbox').addEventListener('change', toggleContent);
            document.getElementById('removeBorderCheckbox').addEventListener('change', toggleContent);
            document.getElementById('pageSelection').value = 'front';
            document.getElementById('pageSelection').dispatchEvent(new Event('change'));
            

        </script>
    </header>
{% for student in students %}
<div class="report-card">
    <div class="front-page">
        <div class="card left">
            <!-- FIRST
            SEM
                ATTENDANCE -->
            <div class="attendance">
            <br>
            <p class="arial-narrow font-9 additional-content" style="margin:0;"><b>REPORT ON ATTENDANCE</b></p>
            <p class="arial-narrow font-9 additional-content" style="margin:0;"><b>First Semester</b></p>
            <div class="first-sem-attendance mt-2">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for month in student.school_months.school_months %}
                                <th class="arial-narrow font-8 table-background-color"><span class="additional-content">{{ month.month_name }}</span></th>
                            {% endfor %}
                            <th class="arial-narrow font-8 table-background-color"><span class="additional-content">Total</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="additional-content"><p class="arial-narrow font-8"  style="margin:0;padding:0;">No. of <br>school<br>days<br><br></p></span></td>
                            {% for month in student.school_months.school_months %}
                                <td style="text-align:center;"><span class="firstsem-info">{{ month.school_days }}</span></td>
                            {% endfor %}
                            <td style="text-align:center;"><span class="firstsem-info">{{ student.school_months.total_school_days }}</span></td>
                        </tr>
                        <tr>
                            <td class="arial-narrow font-8"><span class="additional-content">No. of <br>days<br>present<br><br></span></td>
                            {% for month in student.school_months.school_months %}
                                {% for entry in student.attendance_data %}
                                    {% if month.month_name == entry.month__month_name %}
                                        <td style="text-align:center;"><span class="firstsem-info">{{ entry.days_present }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <td style="text-align:center;"><span class="firstsem-info">{{ student.total_days_present }}</span></td>
                        </tr>
                        <tr>
                            <td class="arial-narrow font-8"><span class="additional-content">No. of <br>days<br>absent<br><br></span></td>
                            {% for month in student.school_months.school_months %}
                                {% for entry in student.attendance_data %}
                                    {% if month.month_name == entry.month__month_name %}
                                        <td style="text-align:center;"><span class="firstsem-info">{{ entry.days_absent }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <td style="text-align:center;"><span class="firstsem-info">{{ student.total_days_absent }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <p class="arial-narrow font-9 additional-content" style="margin:0;margin-top:6px;"><b>PARENT/GUARDIAN SIGNATURE:</b></p>
            <table class="arial-narrow font-9 additional-content" style="width:50%;margin:auto;padding:0;">
                <tr>
                    <td style="width:10%;font-weight:800;">Midterm</td><td style="border-bottom:1px solid black;width:70%;"></td>
                </tr>
                <tr>
                    <td style="width:10%;font-weight:800;">Finals</td><td style="border-bottom:1px solid black;width:70%;"></td>
                </tr>
            </table>
                
            
            <br><br>
            <!--
                SECOND
                SEM
                ATTENDANCE
            -->
            <div class="attendance">
            <p class="arial-narrow font-9 additional-content" style="margin:0;"><b>Second Semester</b></p>
            <div class="first-sem-attendance mt-2">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for month in student.school_months_second.school_months %}
                                <th class="arial-narrow font-8 table-background-color"><span class="additional-content">{{ month.month_name }}</span></th>
                            {% endfor %}
                            <th class="arial-narrow font-8 table-background-color"><span class="additional-content">Total</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="arial-narrow font-8" style="margin-top:0;"><span class="additional-content">No. of <br>school<br>days<br><br></span></td>
                            {% for month in student.school_months_second.school_months %}
                                <td style="text-align:center;"><span class="secondsem-info">{{ month.school_days }}</span></td>
                            {% endfor %}
                            <td style="text-align:center;"><span class="secondsem-info">{{ student.school_months.total_school_days }}</span></td>
                        </tr>
                        <tr>
                            <td class="arial-narrow font-8"><span class="additional-content">No. of <br>days<br>present<br><br></span></td>
                            {% for month in student.school_months_second.school_months %}
                                {% for entry in student.attendance_data %}
                                    {% if month.month_name == entry.month__month_name %}
                                        <td style="text-align:center;"><span class="secondsem-info">{{ entry.days_present }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <td style="text-align:center;"><span class="secondsem-info">{{ student.total_days_present }}</span></td>
                        </tr>
                        <tr>
                            <td class="arial-narrow font-8"><span class="additional-content">No. of <br>days<br>absent<br><br></span></td>
                            {% for month in student.school_months_second.school_months %}
                                {% for entry in student.attendance_data %}
                                    {% if month.month_name == entry.month__month_name %}
                                        <td style="text-align:center;"><span class="secondsem-info">{{ entry.days_absent }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <td style="text-align:center;"><span class="secondsem-info">{{ student.total_days_absent }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <p class="arial-narrow font-9 additional-content" style="margin:0;margin-top:6px;"><b>PARENT/GUARDIAN SIGNATURE:</b></p>
            <table class="arial-narrow font-9 additional-content" style="width:50%;margin:auto;padding:0;">
                <tr>
                    <td style="width:10%;font-weight:800;">Midterm</td><td style="border-bottom:1px solid black;width:70%;"></td>
                </tr>
                <tr>
                    <td style="width:10%;font-weight:800;">Finals</td><td style="border-bottom:1px solid black;width:70%;"></td>
                </tr>
            </table>
                
            
        </div>
        <div class="card right additional-content">
            <p class="sf-9-shs-text arial-narrow">SF-9-SHS</p>
            <br>
            <header class="school-info">
                <div class="school-logo">
                    <br><br>
                    <img src="../../../media/deped.png" alt="School Logo" style="width:80px;height:80px;margin:auto;">
                </div>
                <div class="school-text">
                    <p class="arial-narrow font-9">Republic of the Philippines</p>
                    <p class="arial-narrow font-9">Department of Education</p>
                    <p class="arial-narrow font-9">Region X</p>
                    <p class="arial-narrow font-9"><b>CAGAYAN DE ORO CITY</b></p>
                    <p class="arial-narrow font-9"><b><i>Division</i></b></p>
                    <p class="arial-narrow font-9"><b>SOUTHWEST-I</b></p>
                    <p class="arial-narrow font-9"><i>District</i></p>
                    <p class="arial-narrow font-9"><b>LUMBIA NATIONAL HIGH SCHOOL</b></p>
                    <p class="arial-narrow font-9"><b><i>SENIOR HIGH SCHOOL</i></b></p>
                    <p class="arial-narrow font-9">School ID: <b><i>304119</i></b></p>
                </div>
                <div class="deped-logo">
                    
                    <img src="../../../media/deped_logo.png" alt="DepEd Logo" style="margin:auto;">
                </div>
            </header>
            <div class="student-info">
                <table class="font-9 arial-narrow">
                    <thead>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:10%;">Name:</td>
                            <td style="border-bottom: 1px solid black;"><b>{{ student.student.complete_name }}</b></td>
                            <td style="width: 8%;">LRN:</td>
                            <td style="border-bottom: 1px solid black;"><b>{{ student.student.lrn }}</b></td>
                        </tr>
                        <tr>
                            <td>Age:</td>
                            <td style="border-bottom: 1px solid black;"><span class="secondsem-info">18</span></td>
                            <td>Sex:</td>
                            <td style="border-bottom: 1px solid black;"><b>{{ student.student.get_gender_display }}</b></td>
                        </tr>
                        <tr>
                            <td>Grade:</td>
                            <td style="border-bottom: 1px solid black;">12</td>
                            <td>Section:</td>
                            <td style="border-bottom: 1px solid black;"><b>{{ advisory.section }}</b></td>
                        </tr>
                        <tr>
                            <td>School Year:</td>
                            <td style="border-bottom: 1px solid black;">{{ advisory.get_school_year_display }}</td>
                            <td>Semester:</td>
                            <td style="border-bottom: 1px solid black;"><b></b></td>
                        </tr>
                        <tr>
                            <td>Track/Strand:</td>
                            <td colspan="3" style="border-bottom: 1px solid black;">{{ advisory.strand }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="parents arial font-9 mt-3">
                <p>Dear Parents:</p>
                <p style="text-indent:50px;">This report card shows the ability and progress your child has made in the different learning areas as well as his/her core values.</p>
                <p style="text-indent:50px;">The school welcomes you, should you desire to know more about your child’s progress.</p>
            </div>
            <div class="principal-adviser mt-30">
                <table class="font-9 arial-narrow">
                    <tbody>
                        <tr><td style="width:50%;">Principal Name</td><td style="width:50%;">Adviser Name</td></tr>
                        <tr><td style="width:50%;">Secondary School Principal</td>
                            <td>Class Adviser</td></tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="certificate-transfer">
                <p class="century font-9" style="text-align: center;">Certificate of Transfer</p>
                <table class="arial font-9">
                    <tr>
                        <td style="width:30%;">Admitted to Grade:</td>
                        <td style="width:30%;border-bottom:1px solid black;">&nbsp;</td>
                        <td style="width:10%;">Section:</td>
                        <td style="width:40%;border-bottom:1px solid black;">&nbsp;</td>
                    </tr>
                </table>
                <table class="arial font-9">
                    <tr>
                        <td style="width:40%;">Eligibility for Admission:</td>
                        <td style="width:60%;border-bottom:1px solid black;">&nbsp;</td> 
                    </tr>
                </table>
                <br>
                <p class="arial font-9" style="text-indent:30px;">Approved:</p>
            </div>
            <div class="principal-adviser mt-30">
                <table class="font-9 arial-narrow">
                    <tbody>
                        <tr><td style="width:50%;">Principal Name</td><td style="width:50%;">Adviser Name</td></tr>
                        <tr><td style="width:50%;">Secondary School Principal</td>
                            <td>Class Adviser</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="certificate-transfer mt-2">
                <p class="century font-9" style="text-align: center;">Cancellation of Eligibility to Transfer</p>
                <table class="arial font-9">
                    <tr>
                        <td style="width:20%;">Admitted in:</td>
                        <td style="width:75%;border-bottom:1px solid black;">&nbsp;</td>
                    </tr>
                </table>
                <table class="arial font-9">
                    <tr>
                        <td style="width:5%;">Date:</td>
                        <td style="width:95%;border-bottom:1px solid black;">&nbsp;</td> 
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="back-page">
        <div class="card left">
            <p class="calibri font-9 additional-content" style="margin:0;padding:0;"><b>REPORT ON LEARNING PROGRESS AND ACHIEVEMENT</b></p>
            <!-- FIRST SEM GRADE -->
            <div class="firstsem-grade">
                <p class="calibri font-8 additional-content" style="margin:0;padding:0;"><b>First Semester</b></p>
                <table>
                    <thead class="calibri font-9 additional-content">
                        <tr>
                            <th rowspan="2">Subjects</th>
                            <th>Mid</th>
                            <th>Final</th>
                            <th>Semester</th>
                            <th rowspan="2">REMARKS</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>Final<br> Grade</th>
                        </tr>
                    </thead>
                    <tbody class="calibri font-8 additional-content">
                        <tr>
                            <td colspan="5" class="type-of-subject"><span class="arial-narrow font-8"><b>Core Subjects</b></span></td>
                        </tr>
                        {% for subject, grades in student.grouped_first_semester_data.items %}
                        {% if grades.cat == 'core' %}
                        <tr>
                            <td style="text-align:left;width:50%;"><span class="arial-narrow font-8">{{ subject }}</span></td>
                            {% if grades.q3 != 0.00 %}
                            <td style="text-align:center;width:12.5%;"><span class="firstQ-info arial-narrow font-8">{{ grades.q1 }}</span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.q2 }}</span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.semester_final }}</span></td>
                            <td style="text-align:center;width:15.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.remarks }}</span></td>
                            {% else %}
                            <td style="text-align:center;width:12.5%;"><span class="firstQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="type-of-subject"><span class="arial-narrow font-8"><b>Applied Subjects</b></span></td>
                        </tr>
                        {% for subject, grades in student.grouped_first_semester_data.items %}
                        {% if grades.cat == 'applied' %}
                        <tr>
                            <td><span class="arial-narrow font-8">{{ subject }}</span></td>
                            {% if grades.q3 != 0.00 %}
                            <td style="text-align:center;width:12.5%;"><span class="firstQ-info arial-narrow font-8">{{ grades.q1 }}</span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.q2 }}</span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.semester_final }}</span></td>
                            <td style="text-align:center;width:15.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.remarks }}</span></td>
                            {% else %}
                            <td style="text-align:center;width:12.5%;"><span class="firstQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="type-of-subject"><span class="arial-narrow font-8"><b>Specialized Subjects</b></span></td>
                        </tr>
                        {% for subject, grades in student.grouped_first_semester_data.items %}
                        {% if grades.cat == 'specialized' %}
                        <tr>
                            <td><span class="arial-narrow font-8">{{ subject }}</span></td>
                            {% if grades.q3 != 0.00 %}
                            <td style="text-align:center;width:12.5%;"><span class="firstQ-info arial-narrow font-8">{{ grades.q1 }}</span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.q2 }}</span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.semester_final }}</span></td>
                            <td style="text-align:center;width:15.5%;"><span class="secondQ-info arial-narrow font-8">{{ grades.remarks }}</span></td>
                            {% else %}
                            <td style="text-align:center;width:12.5%;"><span class="firstQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondQ-info arial-narrow font-8"></span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="type-of-subject"><span class="arial-narrow font-8"><b>Other Subject/s</b></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color: #D9D9D9;" colspan="3"><span class="calibri font-8"><b>GENERAL AVERAGE FOR THE SEMESTER</b></span></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- second SEM GRADE -->
            <div class="firstsem-grade">
                <p class="calibri font-9 additional-content" style="margin:0;padding:0;"><b>Second Semester</b></p>
                <table>
                    <thead class="calibri font-8 additional-content">
                        <tr>
                            <th rowspan="2">Subjects</th>
                            <th>Mid</th>
                            <th>Final</th>
                            <th>Semester</th>
                            <th rowspan="2">REMARKS</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>Final<br> Grade</th>
                        </tr>
                    </thead>
                    <tbody class="calibri font-8">
                        <tr>
                            <td colspan="5" class="type-of-subject additional-content"><span class="arial-narrow font-8"><b>Core Subjects</b></span></td>
                        </tr>
                        {% for subject, grades in student.grouped_second_semester_data.items %}
                        {% if grades.cat == 'core' %}
                        <tr>
                            <td style="text-align:left;width:50%;"><span class="arial-narrow font-8 additional-content">{{ subject }}</span></td>
                            {% if grades.q3 != 0.00 %}
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.q3 }}</span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.q4 }}</span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.semester_final }}</span></td>
                            <td style="text-align:center;width:15.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.remarks }}</span></td>
                            {% else %}
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            {% endif %}
                            
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="type-of-subject additional-content"><span class="arial-narrow font-8"><b>Applied Subjects</b></span></td>
                        </tr>
                        {% for subject, grades in student.grouped_second_semester_data.items %}
                        {% if grades.cat == 'applied' %}
                        <tr>
                            <td><span class="arial-narrow font-8 additional-content">{{ subject }}</span></td>
                            {% if grades.q3 != 0.00 %}
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.q3 }}</span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.q4 }}</span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.semester_final }}</span></td>
                            <td style="text-align:center;width:15.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.remarks }}</span></td>
                            {% else %}
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="type-of-subject additional-content"><span class="arial-narrow font-8"><b>Specialized Subjects</b></span></td>
                        </tr>
                        {% for subject, grades in student.grouped_second_semester_data.items %}
                        {% if grades.cat == 'specialized' %}
                        <tr>
                            <td><span class="arial-narrow font-8 additional-content">{{ subject }}</span></td>
                            {% if grades.q3 != 0.00 %}
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.q3 }}</span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.q4 }}</span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.semester_final }}</span></td>
                            <td style="text-align:center;width:15.5%;"><span class="secondsem-info arial-narrow font-8">{{ grades.remarks }}</span></td>
                            {% else %}
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:12.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            <td style="text-align:center;width:14.5%;"><span class="secondsem-info arial-narrow font-8"></span></td>
                            {% endif %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="type-of-subject additional-content"><span class="arial-narrow font-8"><b>Other Subject/s</b></span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;" colspan="3" class="type-of-subject  additional-content"><span class="calibri font-8"><b>GENERAL AVERAGE FOR THE SEMESTER</b></span></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card right">
            <!--
                CORE
                VALUES
                GRADE
            -->
            <div class="core-values">
                <p class="calibri font-9 additional-content" style="margin:0;padding:0;"><b>REPORT ON LEARNER’S OBSERVED VALUES</b></p>
                <table class="core-values-table" style="padding:0;margin:0;">
                    <thead class="calibri font-8 additional-content"> 
                        <tr class="type-of-subject">
                            <th rowspan="2" style="width:75px;">CORE VALUES</th>
                            <th rowspan="2" style="width:150px;">BEHAVIOR STATEMENT</th>
                            <th colspan="2">First<br>Semester</th>
                            <th colspan="2">Second<br>Semester</th>
                        </tr>
                        <tr class="type-of-subject">
                            <th>Mid</th>
                            <th>Final</th>
                            <th>Mid</th>
                            <th>Final</th>
                        </tr>
                    </thead>
                    <tbody class="calibri font-8 additional-content" style="padding:0;margin:0;">
                        <!-- MAKADIYOS -->
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Expresses one’s spiritual beliefs while respecting the spiritual beliefs of others." %}
                                <tr>
                                    <td rowspan="2"><span class="  additional-content">1.<br>{{ behavior_statement.core_value }}</span></td>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</span></td>
                                    <td><span class="firstQ-info">{{ behavior_statement_grades.quarter_1 }}</span></td>
                                    <td><span class="secondQ-info">{{ behavior_statement_grades.quarter_2 }}</span></td>
                                    <td><span class="thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</span></td>
                                    <td><span class="fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</span></td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Shows adherence to ethical principles by upholding truth." %}
                                <tr>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</span></td>
                                    <td><span class=" firstQ-info">{{ behavior_statement_grades.quarter_1 }}</span></td>
                                    <td><span class=" secondQ-info">{{ behavior_statement_grades.quarter_2 }}</span></td>
                                    <td><span class=" thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</span></td>
                                    <td><span class=" fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</span></td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        <!-- MAKATAO -->
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Is sensitive to individual, social, and cultural differences." %}
                                <tr>
                                    <td rowspan="2"><span class="additional-content">2.<br>{{ behavior_statement.core_value }}</span></td>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</span></td>
                                    <td><span class="firstQ-info">{{ behavior_statement_grades.quarter_1 }}</span></td>
                                    <td><span class="secondQ-info">{{ behavior_statement_grades.quarter_2 }}</span></td>
                                    <td><span class="thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</span></td>
                                    <td><span class="fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</span></td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Demonstrates contribution toward solidarity." %}
                                <tr>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</td>
                                    <td><span class="firstQ-info">{{ behavior_statement_grades.quarter_1 }}</td>
                                    <td><span class="secondQ-info">{{ behavior_statement_grades.quarter_2 }}</td>
                                    <td><span class="thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</td>
                                    <td><span class="fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        <!-- MAKAKALIKASAN -->
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Cares for the environment and utilizes resources wisely, judiciously and economically." %}
                                <tr>
                                    <td rowspan="1"><span class="additional-content">3.<br>{{ behavior_statement.core_value }}</span></td>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</td>
                                    <td><span class="firstQ-info">{{ behavior_statement_grades.quarter_1 }}</td>
                                    <td><span class="secondQ-info">{{ behavior_statement_grades.quarter_2 }}</td>
                                    <td><span class="thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</td>
                                    <td><span class="fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        <!-- MAKABANSA -->
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Demonstrate pride in being a Filipino, exercises the rights and responsibilities of a Filipino citizen." %}
                                <tr>
                                    <td rowspan="2"><span class="additional-content">4.<br>{{ behavior_statement.core_value }}</span></td>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</td>
                                    <td><span class="firstQ-info">{{ behavior_statement_grades.quarter_1 }}</td>
                                    <td><span class="secondQ-info">{{ behavior_statement_grades.quarter_2 }}</td>
                                    <td><span class="thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</td>
                                    <td><span class="fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        {% for behavior_statement, behavior_statement_grades in student.grouped_data_observed_values.items %}
                                {% if behavior_statement.statement == "Demonstrates appropriate behavior in carrying out activities in the school, community, and country." %}
                                <tr>
                                    <td ><span class="additional-content">{{ behavior_statement.statement }}</span></td>
                                    <td><span class="firstQ-info">{{ behavior_statement_grades.quarter_1 }}</span></td>
                                    <td><span class="secondQ-info">{{ behavior_statement_grades.quarter_2 }}</span></td>
                                    <td><span class="thirdQ-info">{{ behavior_statement_grades.quarter_3 }}</span></td>
                                    <td><span class="fourthQ-info">{{ behavior_statement_grades.quarter_4 }}</span></td>
                                </tr> 
                                {% endif %}
                                
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <div class="core-values-desc additional-content">
                <p class="calibri font-8 p-no-padding-margin bold-txt">OBSERVED VALUES</p>
                <table class="calibri font-8">
                    <tr>
                        <th>Marking</th>
                        <th>Non-numerical Rating</th>
                    </tr>
                    <tr>
                        <td>AO</td>
                        <td>Always Observed</td>
                    </tr>
                    <tr>
                        <td>SO</td>
                        <td>Sometimes Observed</td>
                    </tr>
                    <tr>
                        <td>RO</td>
                        <td>Rarely Observed</td>
                    </tr>
                    <tr>
                        <td>NO</td>
                        <td>Not Observed</td>
                    </tr>
                </table>
                <br>
                <p class="calibri font-8 p-no-padding-margin bold-txt">LEARNERS PROGRESS AND ACHIEVEMENT</p>
                <table class="calibri font-8">
                    <tr>
                        <th>Descriptors</th>
                        <th>Grading Scale</th>
                        <th>Remarks</th>
                    </tr>
                    <tr>
                        <td>Outstanding</td>
                        <td>90-100</td>
                        <td>Passed</td>
                    </tr>
                    <tr>
                        <td>Very Satisfactory</td>
                        <td>85-89</td>
                        <td>Passed</td>
                    </tr>
                    <tr>
                        <td>Satisfactory</td>
                        <td>80-84</td>
                        <td>Passed</td>
                    </tr>
                    <tr>
                        <td>Fairly Satisfactory</td>
                        <td>75-79</td>
                        <td>Passed</td>
                    </tr>
                    <tr>
                        <td>Did not meet Expectations</td>
                        <td>Below 75</td>
                        <td>Failed</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>