{% extends 'student/base.html' %}  

{% block content %}
<h1 class="mb-4">Compute Grade</h1>

        <!-- Display Student Details in a Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Written Work (WW)</th>
                    <th>Performance Task (PT)</th>
                    <th>Quarterly Exam (QE)</th>
                    <th>Initial Grade</th>
                    <th>Final Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for context in context_list %}
                <tr>
                    <td>{{ context.student }}</td>
                    <td>{{ context.ww|floatformat:"3" }}</td>
                    <td>{{ context.pt|floatformat:"3" }}</td>
                    <td>{{ context.qe|floatformat:"3" }}</td>
                    <td>{{ context.initial_grade|floatformat:"3" }}</td>
                    <td>{{ context.final_grade|floatformat:"3" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

  <a href="">Back to Section Detail</a>

{% endblock %}