{% extends 'student/base.html' %} 
{% block content %}
<h2>{{ sections.school_year }} - {{ sections.section }}</h2>
  <a href="{% url 'add-students-section' section_id=sections.id %}" class="btn btn-primary">Add More Students</a>
  <a href="{% url 'activity-list' section_id=sections.id %}" class="btn btn-primary">List of Activity</a>
  <a href="{% url 'compute_grade' section_id=sections.id %}" class="btn btn-primary">View Grade</a>
  <div class="card mb-4 mt-3">
    <div class="card-header">
      <h2>Subject: {{ sections.subject }}</h2>
      
    </div>
    <div class="card-body">
      <h3>Students:</h3>
      {% if sections.students.all %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Complete Name</th>
              
            </tr>
          </thead>
          <tbody>
            {% for student in sections.students.all %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ student.complete_name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No students added to this advisory yet.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}