@media print {
    @page {
        size: 8.5in 13in; 
        margin: 0.3cm;
        padding:0;
    }
    .hidden {
        display: none;
    }
    .no-print {
        display: none;
    }
    .first-sem-attendance th {
        background-color: #EEECE1;
    }
    .firstsem-grade .type-of-subject {
        background-color: #D9D9D9 !important;
    }
    }